.navbar{
    background-color: #2F4550;
    color: #2F4550;
    
    font-family: 'Roboto', sans-serif;
}
footer{   
    background-color: #2F4550;
    color: #ffffff;
    
    font-family: 'Roboto', sans-serif;}